@using System.Globalization;

@foreach (var p in Model)
{
    var culture = new CultureInfo("vi-VN");
    var discountedPrice = p.price * (1 - p.discount);
    var formattedDiscountedPrice = string.Format(culture, "{0:C0}", discountedPrice).Replace("₫", "VNĐ");
    var formattedOriginalPrice = string.Format(culture, "{0:C0}", p.price).Replace("₫", "VNĐ");
    var detail = "/product/detail/" + @p.id;
    string[] imgPath = p.image.ToString().Split(";");
    var imgLogo = imgPath[0];

    <div class="col-md-3 col-sm-6 product-item" style="height:450px">
        <div class="single-shop-product">
            <div class="product-upper">
                <img style="width: 300px; height: 300px; object-fit: cover;" src="img/@imgLogo" alt="">
            </div>
            <h2 class="text-center" style="font-size:16px; height:48px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;">
                <a href="@detail">@p.productName</a>
            </h2>
            <div class="product-carousel-price text-center">
                <ins>@formattedDiscountedPrice</ins> <del>@formattedOriginalPrice</del>
            </div>
            <div class="product-option-shop text-center mt-3">
                <a class="add_to_cart_button" data-quantity="1" href="#">Add to cart</a>
            </div>
        </div>
    </div>
}
