@model List<BaiTap_23WebC_Nhom10.Models.Product>

@foreach (var p in Model)
{
    <div class="single-product">
        <div class="product-f-image" style="height: 270px; overflow: hidden;">
            <a href="/product/detail/@p.id">
                <img src="@("/img/" + p.image)" alt="@p.productName"
                     style="height: 100%; object-fit: contain; background-color:#ffffff;" />
            </a>
        </div>
        <h2><a href="/product/detail/@p.id">@p.productName</a></h2>
        <div class="product-carousel-price">

            <ins>@p.price.ToString("N0") VNĐ</ins>

            @if (p.discount > 0)
            {
                var originalPrice = Math.Round(p.price / (1 - p.discount));

                <del>@originalPrice.ToString("N0") VNĐ</del>
            }
        </div>
    </div>
}