@model List<BaiTap_23WebC_Nhom10.Models.Product>

<div class="single-sidebar">
    <h2 class="sidebar-title">Products</h2>

    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model.Take(3)) 
        {
            <div class="thubmnail-recent mb-3">
                <a href="/product/detail/@item.id">
                    <img src="~/img/@item.image" alt="@item.productName" class="recent-thumb" style="width:100px;height:100px;object-fit:cover;">
                </a>
                <h2>
                    <a href="/product/detail/@item.id">@item.productName</a>
                </h2>
                <div class="product-carousel-price">

                    <ins>@item.price.ToString("N0") VNĐ</ins>

                    @if (@item.discount > 0)
                    {
                        var originalPrice = Math.Round(@item.price / (1 - @item.discount));

                        <del>@originalPrice.ToString("N0") VNĐ</del>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>Không có sản phẩm nào.</p>
    }
</div>
