@model List<BaiTap_23WebC_Nhom10.Models.Product>
@using System.Globalization;
<div class="single-sidebar">
    <h2 class="sidebar-title">Products</h2>

    @if (Model != null && Model.Any())
    {
        @foreach (var p in Model.Take(3))
        {
            var culture = new CultureInfo("vi-VN");
            var discountRate = p.discount / 100;
            var discountedPrice = p.price * (1 - discountRate);

            var formattedDiscountedPrice = string.Format(culture, "{0:C0}", discountedPrice).Replace("₫", "VNĐ");
            var formattedOriginalPrice = string.Format(culture, "{0:C0}", p.price).Replace("₫", "VNĐ");

            <div class="thubmnail-recent mb-3">
                <a href="/product/detail/@p.id">
                    <img src="~/img/@p.image" alt="@p.productName" class="recent-thumb" style="width:100px;height:100px;object-fit:cover;">
                </a>
                <h2>
                    <a asp-controller="Product" asp-action="Detail" asp-route-slug="@p.slug">@p.productName</a>
                </h2>
                <div class="product-carousel-price">

                    @if (p.discount > 0)
                    {
                        <ins>@formattedDiscountedPrice</ins>
                        <del>@formattedOriginalPrice</del>
                    }
                    else
                    {
                        <ins>@formattedOriginalPrice</ins>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>Không có sản phẩm nào.</p>
    }
</div>