@* @using System.Globalization; *@
@* @using BaiTap_03_23WebC_Nhom10.Service; *@
@* @using BaiTap_03_23WebC_Nhom10.Models; *@
@* @{ *@
    
@*     var products = Context.Items["products"] as List<Product> ?? new List<Product>(); *@

    
@*     var culture = new CultureInfo("vi-VN"); *@
@* } *@

@* <form method="post" action="#"> *@
@*     <table cellspacing="0" class="shop_table cart"> *@
@*         <thead> *@
@*             <tr> *@
@*                 <th class="product-remove">&nbsp;</th> *@
@*                 <th class="product-thumbnail">&nbsp;</th> *@
@*                 <th class="product-name">Product</th> *@
@*                 <th class="product-price">Price</th> *@
@*                 <th class="product-quantity">Quantity</th> *@
@*                 <th class="product-subtotal">Total</th> *@
@*             </tr> *@
@*         </thead> *@
@*         <tbody> *@
@*             @foreach (var p in products.Take(2)) *@
@*             { *@
                
@*                 int quantity = 1; *@
                
@*                 decimal unitPrice = (decimal)(p.DonGia * (1 - p.DonGiaKhuyenMai)); *@
                
@*                 decimal subTotal = unitPrice * quantity; *@

@*                 <tr class="cart_item"> *@
@*                     <td class="product-remove"> *@
@*                         <a title="Remove this item" class="remove" href="#">×</a> *@
@*                     </td> *@

@*                     <td class="product-thumbnail"> *@
@*                         <a href="#"> *@
@*                             <img width="145" height="145" alt="@p.TenSp" class="shop_thumbnail" src="~/img/@p.HinhAnh" /> *@
@*                         </a> *@
@*                     </td> *@

@*                     <td class="product-name"> *@
@*                         <a href="#">@p.TenSp</a> *@
@*                     </td> *@

@*                     <td class="product-price"> *@
@*                         <span class="amount"> *@
@*                             @unitPrice.ToString("N0", culture) VNĐ *@
@*                         </span> *@
@*                     </td> *@

@*                     <td class="product-quantity"> *@
@*                         <div class="quantity buttons_added"> *@
@*                             <input type="button" class="minus" value="-"> *@
@*                             <input type="number" size="4" class="input-text qty text" title="Qty" value="@quantity" min="0" step="1"> *@
@*                             <input type="button" class="plus" value="+"> *@
@*                         </div> *@
@*                     </td> *@

@*                     <td class="product-subtotal"> *@
@*                         <span class="amount"> *@
@*                             @subTotal.ToString("N0", culture) VNĐ *@
@*                         </span> *@
@*                     </td> *@
@*                 </tr> *@
@*             } *@

@*             <tr> *@
@*                 <td class="actions" colspan="6"> *@
@*                     <div class="coupon"> *@
@*                         <label for="coupon_code">Coupon:</label> *@
@*                         <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code"> *@
@*                         <input type="submit" value="Apply Coupon" name="apply_coupon" class="button"> *@
@*                     </div> *@
@*                     <input type="submit" value="Update Cart" name="update_cart" class="button"> *@
@*                     <input type="submit" value="Proceed to Checkout" name="proceed" class="checkout-button button alt wc-forward"> *@
@*                 </td> *@
@*             </tr> *@
@*         </tbody> *@
@*     </table> *@
@* </form> *@